# Compiled Object files
*.slo
*.lo
*.o
*.obj

#temporary files
*.swp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
driver

# eclipse project files
.project
.cproject
